
body {
  background: #f4f4f4;
}

a  {
  color: #102188;
  text-decoration:none;
}
a:hover { 
  text-decoration:underline;
}
ul.nav {
  margin: 0;
}
ul.nav a {
  padding: 0 10px;
}
.navbar {
  padding: 10px 0;
  background: -webkit-linear-gradient(top,#ACF 0%,#DEF 100%);
}
.navbar-logo {
  padding: 0 10px;
}
.navbar-inner {
  box-sizing: border-box;
  min-width: 800px;
  max-width: 1000px;
  margin: 0 auto;
}
.page-title {
  line-height: 28px;
  background: #58f;
  background: -webkit-linear-gradient(top,#58f 0%,#37e 100%);
  width: 940px;
  margin: 0 auto;
  padding: 5px 30px;
}
.logo-text {
  font-weight: bold;
  font-size: 20px;
}

.main {
  min-width: 800px;
  max-width: 1000px; 
  margin: 0 auto;
  border: 1px solid #eee;
  background: white;
}

.footer {
  line-height: 28px;
  width: 940px;
  margin: 0 auto;
  padding: 0 30px 10px;
}

.footer p {
  font-size: 12px;
}

